<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>

	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.js"></script>

	<!-- lib/vue.js -->
	<script src="lib/vue.js"></script>
	<script>
	var v;
	window.onload = function () {
		v = new Vue({
			el: "#box",
			data: {
				username: "",
				age: "",
				userinfo: [],
				nowIndex: -100,
				deleteAll: false
			},
			methods: {
				add: function () {
					this.userinfo.push({username: this.username, age: this.age});
					this.username = "";
					this.age = "";
				},
				deleteUser: function () {
					if (this.nowIndex === -2) {
						this.userinfo = [];
					} else {
						this.userinfo.splice(this.nowIndex, 1);
					}
				}
			}
		});
	};
	</script>
</head>
<body>
	<div class="container" id="box">
		<form>
			<div class="form-group">
				<label for="username">
					用户名：
				</label>
				<input type="text" class="form-control" id="username" placeholder="请输入用户名" v-model="username">
			</div>
			<div class="form-group">
				<label for="age">
					年龄：
				</label>
				<input type="text" class="form-control" id="age" placeholder="年龄" v-model="age">
			</div>
			<div class="form-group">
				<div class="btn  btn-sm btn-primary" v-on:click="add()">添加</div>
				<button class="btn btn-danger btn-sm" type="reset">重置</button>
			</div>
		</form>

		<table class="table table-bordered ">
			<caption class="h2 text-info">用户信息表</caption>
			<thead >
				<tr>
					<th class="text-center">序号</th>
					<th class="text-center">用户名</th>
					<th class="text-center">年龄</th>
					<th class="text-center">操作</th>
				</tr>
			</thead>
			<tbody class="text-center">
				<tr v-for="(item, index) in userinfo">
					<td>{{index+1}}</td>
					<td>{{item.username}}</td>
					<td>{{item.age}}</td>
					<td>
						<div class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=index;deleteAll=false">删除</div>
					</td>
				</tr>
				<tr  v-show="userinfo.length !== 0">
					<td colspan="4" class="text-right">
						<div class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=-2;deleteAll=true">删除全部</div>
					</td>
				</tr>
				<!-- 暂无 -->
				<tr v-show="userinfo.length === 0">
					<td colspan="4">暂无数据</td>
				</tr>
			</tbody>
		</table>
		<!-- 模态框 -->
		<div class="modal fade" id="layer">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div class="close" data-dismiss="modal">
							<span>&times;</span>
						</div>
						确认删除<span v-show="deleteAll">全部</span>吗？
					</div>
					<div class="modal-body text-right">
						<div class="btn btn-primary" data-dismiss="modal">
							取消
						</div>
						<div class="btn btn-danger" data-dismiss="modal" v-on:click="deleteUser()">
							确认
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>